{% extends "layouts/base_layout.html" %}

{% block main %}
    {% for task in tasks %}
        <section class="card card-default w-50 mx-auto">
            <h4 class="card-header"> {{ task.title }}</h4>
            {{ task.description }}
            <br>
            {% if task.completed == 1 %}
            <label class="container">Завершено
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            {% else %}
            <label class="container">Не завершено
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            {% endif %}
            <form action="/tasks/{{ task.id }}" method="GET">
                <button type="edit" onclick="" class="btn btn-primary w-100 mx-auto">Изменить</button>
            </form>
        </section>
    {% endfor %}
    <form action="/task" method="GET" class="d-flex justify-content-center">
        <button type="edit" class="btn btn-primary">Добавить новое задание</button>
    </form>
{% endblock %}